<div class="row d-flex justify-content-center">
    <div class="col-sm-6">
        <h1 class="text-center">Editing Post</h1>

        <%= render 'form', post: @post %>
        <%= link_to 'Show', @post, class: 'btn btn-success' %>
        <%= link_to 'Back', posts_path, class: 'btn btn-info' %>
    </div>
</div>